

.modal {
    display:block; /* Hidden by default */
    z-index: 1; /* Sit on top */

    width: 100%; /* Full width */
    height: 100%; /* Full height */ /* Enable scroll if needed */

    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-light-1);
    
//     &__content {
//     background-color: var(--color-grey-dark-1);
//     margin: 15% auto; /* 15% from the top and centered */
//     padding: 20px;
//     border: 1px solid #888;
//     width: 80%;
//     }
}



